<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>

<p>Welcome to <%= title %></p>
<ul>
    <% videodata.categories.forEach(function(item){ %>
    <a href="products?cat=<%= item.categoryID%>">
        <li>
            <%= item.categoryName %>
        </li>
    </a>
    <% }); %>
</ul>
</body>
</html>
